@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poor+Story&family=Single+Day&display=swap');

.navbarClass {
    position: sticky;
    top: 0;
}

.navbar-back {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 81%, 1) 100%);
}